

.bootstrap-select > div.dropdown div.bootstrap-select,
 {
   display: none !important;
}


.selectpicker1 {height: 60px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    background: transparent;
    outline: none;
    width: calc(33% - 78px);
    margin-right: 25px;
    font-size: 1.5rem;
    color: #6f7484;




}

.account-entry .modal-body .shortcut-login {
    margin-top: 0px !important;
}