

    <!-- Banner -->
     <div class="banner banner-2 banner-2-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content">
              <h1>Find the right job</h1>
              <p>Create free account to find thousands Jobs, Employment & Career Opportunities around you!</p>
              <div class="short-infos">
                <div class="info">
                  <h4>5,862</h4>
                  <span>Jobs Posted</span>
                </div>
                <div class="info">
                  <h4>240</h4>
                  <span>Companies</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Search and Filter -->
    <div class="searchAndFilter-wrapper">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="searchAndFilter-block-3">
              <div class="searchAndFilter-3">
                <form action="#" class="search-form">
                  <div class="keyword">
                    <label>What?</label>
                    <input type="text" placeholder="Enter Your Keywords">
                  </div>
                  <div class="location-input">
                    <label>Where?</label>
                    <select class="selectpicker" id="search-location">
                      <option value="" selected>All Locations</option>
                      <option value="california">California</option>
                      <option value="las-vegas">Las Vegas</option>
                      <option value="new-work">New Work</option>
                      <option value="carolina">Carolina</option>
                      <option value="chicago">Chicago</option>
                      <option value="silicon-vally">Silicon Vally</option>
                      <option value="washington">Washington DC</option>
                      <option value="neveda">Neveda</option>
                    </select>
                  </div>
                  <div class="category-input">
                    <label>Category</label>
                    <select class="selectpicker" id="search-category">
                      <option value="" selected>All Categories</option>
                      <option value="real-state">Real State</option>
                      <option value="vehicales">Vehicales</option>
                      <option value="electronics">Electronics</option>
                      <option value="beauty">Beauty</option>
                      <option value="furnitures">Furnitures</option>
                    </select>
                  </div>
                  <button class="button primary-bg"><i class="fas fa-search"></i></button>
                </form>
                <div class="filter-categories">
                  <h4><i data-feather="align-left"></i>Job Category</h4>
                  <ul>
                    <li><a href="job-listing.html">Accounting / Finance <span>(233)</span></a></li>
                    <li><a href="job-listing.html">Education <span>(46)</span></a></li>
                    <li><a href="job-listing.html">Design & Creative <span>(156)</span></a></li>
                    <li><a href="job-listing.html">Health Care <span>(98)</span></a></li>
                    <li><a href="job-listing.html">Engineer & Architects <span>(188)</span></a></li>
                    <li><a href="job-listing.html">Marketing & Sales <span>(124)</span></a></li>
                    <li><a href="job-listing.html">Garments / Textile <span>(584)</span></a></li>
                    <li><a href="job-listing.html">Customer Support <span>(233)</span></a></li>
                    <li><a href="job-listing.html">Digital Media <span>(15)</span></a></li>
                    <li><a href="job-listing.html">Telecommunication <span>(03)</span></a></li>
                  </ul>
                </div>
                <div class="filter-location">
                  <h4><i data-feather="map-pin"></i>Location Filter</h4>
                  <ul>
                    <li><a href="job-listing.html">New York City <span>(233)</span></a></li>
                    <li><a href="job-listing.html">Washington, D.C <span>(46)</span></a></li>
                    <li><a href="job-listing.html">Chicago <span>(156)</span></a></li>
                    <li><a href="job-listing.html">San Francisco <span>(98)</span></a></li>
                    <li><a href="job-listing.html">Los Angeles <span>(188)</span></a></li>
                    <li><a href="job-listing.html">Boston <span>(124)</span></a></li>
                    <li><a href="job-listing.html">Seattle <span>(584)</span></a></li>
                    <li><a href="job-listing.html">New Orleans <span>(233)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search and Filter End -->

    <!-- Jobs -->
    <div class="section-padding-bottom alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header section-header-2 section-header-with-right-content">
              <h2>Recent Jobs</h2>
              <a href="job-listing.html" class="header-right">+ Browse All Jobs</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/assets/images/job/company-logo-1.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Designer Required</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/assets/images/job/company-logo-2.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Project Manager</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/assets/images/job/company-logo-8.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Restaurant Team Member - Crew </a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                    <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/assets/images/job/company-logo-9.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Nutrition Advisor</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/assets/images/job/company-logo-10.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">UI Designer</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/assets/images/job/company-logo-3.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Land Development Marketer</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington, D.C.</a></span>
                    <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="apply-popup">
              <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="#">
                        <div class="form-group">
                          <input type="text" placeholder="Full Name" class="form-control">
                        </div>
                        <div class="form-group">
                          <input type="email" placeholder="Email Address" class="form-control">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group file-input-wrap">
                          <label for="up-cv">
                            <input id="up-cv" type="file">
                            <i data-feather="upload-cloud"></i>
                            <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                          </label>
                        </div>
                        <div class="more-option">
                          <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                          <label for="radio-4">
                            <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                          </label>
                        </div>
                        <button class="button primary-bg btn-block">Apply Now</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jobs End -->

      <!-- NewsLetter -->
    <div class="newsletter-bg padding-top-90 padding-bottom-90">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6">
            <div class="newsletter-wrap">
              <h3>Newsletter</h3>
              <p>Get e-mail updates about our latest news and Special offers. We don’t send spam so don’t worry.</p>
              <form action="#" class="newsletter-form form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email address...">
                </div>
                <button class="btn button">Submit<i class="fas fa-caret-right"></i></button>
                <p class="newsletter-error">0 - Please enter a value</p>
                <p class="newsletter-success">Thank you for subscribing!</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- NewsLetter End -->

   

   

   
    <!-- Registration Box -->
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="call-to-action-box candidate-box">
              <div class="icon">
                <img src="assets/images/register-box/1.png" alt="">
              </div>
              <span>Are You</span>
              <h3>Candidate?</h3>
              <a href="#" (click)="open(modalBasic)">Register Now <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="call-to-action-box employer-register">
              <div class="icon">
                <img src="assets/images/register-box/2.png" alt="">
              </div>
              <span>Are You</span>
              <h3>Employer?</h3>
              <a href="#" routerLink="/sessions/signup">Register Now <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Registration Box End -->

  <ng-template #modalBasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Talent Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button class="loginBtn loginBtn--facebook" (click)="socialSignIn('facebook')">
  Login with Facebook
</button>

<button class="loginBtn loginBtn--google" (click)="socialSignIn('google')">
  Login with Google
</button>
  </div>
  
</ng-template>




