 <div class="main-header" style="background: black;width: 100%;">
    <div class="logo  " style=" margin-left: 30px">
        <img src="./assets//images/logo.png" alt="">
        
    </div>
    
  

</div> 
<div >
	<div class="col-md-12  text-black " style="padding: 105px;">
		
		<div class="row">


				<div class="col-md-6">
					<div class="col-md-12">
					<div class="card mb-4">
						<ngb-tabset style="padding: 10px">
							<ngb-tab title="Sign in">
								<ng-template ngbTabContent>
									<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
										synth
										master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
										keffiyeh
										dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
										cillum
										iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
								</ng-template>
							</ngb-tab>
							<ngb-tab>
								<ng-template ngbTabTitle>
								Sign up</ng-template>
								<ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
									squid.
									<p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
										farm-to-table
										craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
										vinyl
										cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
										salvia
										yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
										jean
										shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
										vero
										sint qui sapiente accusamus tattooed echo park.</p>
								</ng-template>
							</ngb-tab>
							
						</ngb-tabset>
					</div>
				</div>
					
				
			</div>
				<div class="col-md-6">
					
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<div class="card mb-4">
									<div class="card-body">
										<h5 class="card-title text-black">Card title</h5>
										<p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's
											content.</p>
										<a href="#" class="card-link text-black">Card link</a>
										<a href="#" class="card-link text-black">Another link</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card mb-4">
									<div class="card-body">
										<h5 class="card-title text-black">Card title</h5>
										<p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's
											content.</p>
										<a href="#" class="card-link text-black">Card link</a>
										<a href="#" class="card-link text-black">Another link</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<div class="card mb-4">
									<div class="card-body">
										<h5 class="card-title text-black">Card title</h5>
										<p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's
											content.</p>
										<a href="#" class="card-link text-black">Card link</a>
										<a href="#" class="card-link text-black">Another link</a>
									</div>
								</div>

							</div>
							<div class="col-md-6">
								<div class="card mb-4">
									<div class="card-body">
										<h5 class="card-title text-black">Card title</h5>
										<p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's
											content.</p>
										<a href="#" class="card-link text-black">Card link</a>
										<a href="#" class="card-link text-black">Another link</a>
									</div>
								</div>
							</div>
						</div>

					</div>


				</div>


			
		</div>



	</div>




</div>

